$primary-color: #16c3a5;
$secondart-text-color: #cccccc;

$title-text-color: #707070;

.log-grid-container {
  display: grid;
  grid-template-columns: 16.125rem calc(100% - 16.125rem);
  grid-template-rows: 5.75rem calc(100% - 5.75rem);
  height: 100vh;

  .nav {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: $primary-color;
    width: 16.125rem;
  }

  .grid-item {
    .scrollable {
      height: calc(100% - 6rem);
      padding: 1rem 2rem;
      overflow-y: scroll;
      scrollbar-width: none;
      -ms-overflow-style: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    h2 {
      line-height: 0.5;
      color: black;
      padding-left: 0.1rem;
      margin-bottom: 1rem;
    }

    h1,
    h2 {
      margin-left: 3rem;
    }

    .details {
      .subtitle {
        line-height: 2rem;
      }
      h2 {
        font-size: 1rem;
      }
    }
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    border-bottom: 1px solid rgba($color: #16c3a5, $alpha: 0.2);

    .page-title {
      font-family: Montserrat;
      font-size: 1.25rem;
      font-weight: 500;
      color: #3db286;
    }

    .identity-container {
      display: flex;
      position: relative;
      cursor: pointer;
      margin-right: 1rem;

      &:hover {
        .options-list {
          visibility: visible;
          opacity: 1;
        }
      }
    }

    .material-icons-outlined.customBurg {
      font-size: 3.75rem;
      color: #16c3a5;
    }

    .change-view-button {
      cursor: pointer;
      margin-left: 1rem;
    }

    .image {
      height: 3.75rem;
      width: 3.75rem;
      border-radius: 2rem;
      background-color: $primary-color;
      line-height: 3.75rem;
      text-align: center;
      margin-right: 0.5rem;
      color: white;
      font-size: 2rem;
      font-weight: bold;
    }
    .details {
      margin: 0 1rem 0 0;
    }
    h1,
    h2 {
      height: 2rem;
      margin: 0;
      padding: 0;
    }
    h2 {
      color: $secondart-text-color;
    }
    h1 {
      font-weight: 400;
    }

    .dropdown-menu {
      display: inline-block;

      .dropdown-icon {
        line-height: 3.75rem;
      }

      .option {
        display: block;
        padding: 0.438rem 0 0.438rem 0.438rem;
        text-decoration: none;
        color: #9f9e9e;
        margin-top: 0.625rem;
        cursor: pointer;
        transition: 0.3s;
      }

      .option.active {
        color: #000;
        background-color: #d3d3d3;
        border-radius: 0.313rem;
      }

      .options-list {
        background-color: #fff;
        box-shadow: 0px 3px 6px #707070;
        z-index: 1;
        visibility: hidden;
        position: absolute;
        left: 0;
        top: 4.5rem;
        width: 20ch;
        padding: 0 0.813rem 0.625rem 0.813rem;
        font-size: 1.25rem;
        opacity: 0;
        transition: 0.3s;
        border-radius: 0.563rem;
      }
    }
  }

  .main {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    padding: 0 1rem;

    .title {
      margin-top: 0.5rem;
      color: $title-text-color;
      margin-bottom: 0;
      font-family: Montserrat;
      font-size: 1.563rem;
      font-weight: 500;
      margin-top: 1rem !important;
    }
    .subtitle {
      color: $title-text-color;
      margin-top: 0;
      font-family: Montserrat;
      font-size: 1rem;
      font-weight: 400;
    }

    .form-class {
      display: flex;
      justify-content: space-between;

      .input-group {
        input {
          padding-left: 0.938rem;
          font-family: Montserrat;
          font-size: 1.125rem;
          font-weight: 400;
        }

        .divider {
          font-size: 1.25rem;
          font-weight: bolder;
        }

        .field-input {
          display: block;
          width: 18.125rem;
          height: 3.438rem;
          border-radius: 0.5rem;
          border: 2px solid #16c3a5;
        }

        label {
          margin-top: 1rem;
          margin-bottom: 0.4rem;
          display: block;
          font-family: Montserrat;
          font-size: 1.125rem;
          font-weight: 500;
          color: #514d4d;
        }

        .date-input {
          width: 10rem;
          height: 3.75rem;
          background-color: #fcfcfc;
          border-radius: 0.5rem;
          border: 1px solid #dedede;
          text-align: center;
          padding: 0 !important;
        }
      }

      .filter-button {
        width: 7.625rem;
        height: 3.438rem;
        border-radius: 0.5rem;
        border: 2px solid #16c3a5;
        background-color: #16c3a5;
        color: #fff;
        font-family: Montserrat;
        font-size: 1.125rem;
        font-weight: 500;
        cursor: pointer;
      }

      .clicked {
        background-color: #fff;
        color: #16c3a5;
      }
    }

    .table-part {
      // padding: 0 2rem;
    }

    .main-flex-container {
      margin-left: 2.3rem;
    }
  }
}

.mini-grid-version {
  grid-template-columns: 6rem calc(100% - 6rem) !important;
  .nav {
    width: 6rem !important;
  }
}
