.column-chart-container {
  margin: 0 8.438rem;

  .chart-container {
    .graph-title {
      margin-bottom: 2.063rem;
      font-family: Montserrat;
      font-size: 30px;
      font-weight: 500;
      color: #030303;
    }

    .graph-container {
      padding: 2rem;
      border-radius: 0.75rem;
      box-shadow: 0 0 6px rgba(64, 63, 63, 0.34);
    }
  }
}
