.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #3db286;
  box-shadow: 2px 3px 7px #eff5fe;
  position: relative;

  .logo {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-family: Montserrat;
    font-size: 1.25em;
    font-weight: 500;
    color: #fff;
  }

  .nav-list {
    list-style-type: none;
    padding: 0 0;

    .nav-item {
      display: block;
      width: 14.25rem;
      height: 3.938rem;
      padding: 1rem;
      font-family: Montserrat;
      font-size: 1.25em;
      font-weight: 400;
      color: #000000;

      a {
        text-decoration: none;
      }

      .material-icons {
        position: relative;
        top: 3px;
        color: #000000;
      }
      .label {
        font-family: Montserrat;
        font-size: 1.25em;
        font-weight: 400;
        margin-left: 0.5rem;
        color: #000000;
      }
    }

    .nav-item.active {
      border-radius: 0.5rem;
      background-color: rgba($color: #10110d, $alpha: 0.27);

      .material-icons,
      .label {
        color: #fff;
      }
    }
  }
}

.mini-version {
  width: 6rem;

  .logo {
    visibility: hidden;
  }

  .nav-item {
    width: 4rem !important;
    height: 4rem !important;

    .material-icons {
      top: 4px !important;
      left: 4px !important;
    }
  }
}
