$input-text: #9f9e9e;
$form-header-text: #363131;
$form-subheader-text: #716b6b;
$button-background: #3db286;
$container-border: #16c3a5;

.change-pass-main-flex-dash-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 70%;

  .change-pass-container {
    width: 54.313rem;
    height: 26rem;
    padding: 0.938rem 1.188rem;
    border: 1px solid $container-border;
    border-radius: 0.75rem;

    form {
      display: flex;
      flex-direction: column;

      .form-title {
        font-size: 1.438rem;
        color: $form-header-text;
      }

      .form-subtitle {
        font-size: 1.125rem;
        margin-bottom: 2.125rem;
        color: $form-subheader-text;
      }

      label,
      input {
        display: block;
      }

      .inputs {
        width: 51.438rem;
        height: 3.75rem;
        border-radius: 0.5rem;
        font-size: 1.125rem;
        border: solid 1px #dedede;
        background-color: #fcfcfc;
        margin-bottom: 1rem;
        padding-left: 0.688rem;
        color: $input-text;
      }

      .submit-button {
        width: 11.625rem;
        height: 3.75rem;
        align-self: flex-end;
        margin-right: 0.3rem;
        font-size: 1.25rem;
        color: white;
        border-radius: 0.563rem;
        border: none;
        background-color: $button-background;
      }
    }
  }
}
