$background-color: #afb1b4;
$background-color-2: #ffffff;
$header-text: #43b48a;
$button-color: #3db286;

.reset-password-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $background-color;

  .reset-container {
    width: 42.375rem;
    height: 27.438rem;
    background-color: $background-color-2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1.125rem;

    h1 {
      color: $header-text;
      font-size: 3rem;
      margin-bottom: 0;
    }

    h2 {
      font-size: 2.375rem;
      text-align: center;
      font-weight: normal;
    }

    .submit-button {
      display: block;
      background-color: $button-color;
      height: 3.375rem;
      width: 19.938rem;
      border: none;
      color: white;
      font-weight: 500;
      font-size: 1rem;
      border-radius: 1.688rem;
      cursor: pointer;
    }
  }
}
