.content-title {
  margin: 2rem 3rem 0 3rem;
}

.lat-content-detail-container {
  margin: 0 3rem;
  height: 49rem;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }

  .export-container {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-left: 0.1rem;
    padding-bottom: 1.375rem;
    border-bottom: 1px solid rgba($color: #16c3a5, $alpha: 0.2);

    .input-group {
      display: flex;

      .input-holder {
        display: inline-block;
        position: relative;
        padding-top: 1.8rem;
        .input-label {
          position: absolute;
          top: 0;
          left: 0;
          font-family: Montserrat;
          font-size: 1.125rem;
          font-weight: 500;
        }

        .text-input {
          width: 8.438rem;
          height: 3.75rem;
          background-color: #fcfcfc;
          border: 1px solid #dedede;
          border-radius: 0.5rem;
          padding-left: 0.9rem;
          font-family: Montserrat;
          font-size: 1.125rem;
          font-weight: 400;
          color: #9f9e9e;
          margin-right: 2rem;
        }
      }
    }

    .export-button {
      position: relative;
      cursor: pointer;
      width: 12.063rem;
      height: 3.813rem;
      border-radius: 0.375rem;
      border: 1px solid #16c3a5;
      background-color: #fff;
      padding: 1.118rem 0;
      padding-left: 2rem;
      font-family: Montserrat;
      font-size: 1rem;
      font-weight: 500;
      color: #16c3a5;

      img {
        position: absolute;
        top: 0.7rem;
        left: 1.118rem;
      }
    }
  }

  /********/
  .table-control-container {
    .input-holder {
      display: inline-block;
      position: relative;
      padding-top: 1.8rem;

      .text-input {
        width: 18.125rem;
        height: 3.438rem;
        background-color: #fff;
        border: 2px solid #16c3a5;
        border-radius: 0.5rem;
        padding-left: 0.9rem;
        font-family: Montserrat;
        font-size: 1.125rem;
        font-weight: 500;
        color: #9f9e9e;
        margin-right: 2rem;
      }
    }
  }
}
