.pie-chart-container {
  margin: 0 8.438rem;

  .graph-container {
    margin-right: 35%;
    .graph-title {
      margin-bottom: 2.063rem;
      font-family: Montserrat;
      font-size: 25px;
      font-weight: 500;
    }
  }
}
