.pie-chart-container {
  margin: 3rem 8.438rem;

  .graph-container {
    margin-right: 50%;
    .graph-title {
      margin: 1.25rem 0 2.063rem 3.875rem;
      font-family: Montserrat;
      font-size: 1.563rem;
      font-weight: 500;
    }
  }
}
